header {
  background-color: #eee;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
  padding: 0 20px;
}

header h1 {
  display: inline-block;
}

header h1 a,
header h1 a:hover {
  color: #333;
}

header .img-ctn {
  display: inline-block;
}

header .img-ctn img {
  padding-top: 5px;
  width: 90%;
}

#cameras > div {
  display: inline-block;
  position: relative;
}

#cameras img {
  max-width: 200px;
  margin: 5px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#cameras img:hover {
  opacity: .8;
}

#cameras span {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #FFF;
}

.camera-nav  {
}

#camera {
  max-width: 720px;
  border: 2px solid #333;
}

#cvs {
  border: 2px solid #333;
}

.dg .c {
  color: #333;
}