header {
  background-color: #eee;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px;
  padding: 0 20px;
}

header h1 {
  display: inline-block;
}

header h1 a,
header h1 a:hover {
  color: #333;
}

.horizontal-line{
    width: 100%;
  top: 24px;
  height: 1px;
  position: absolute;
  border: 1px solid red;
}
.vertical-line{
  height: 100%;
  width: 1px;
  position: absolute;
  border: 1px solid red;
  left: 358px;
  top: 0px;
}

header .img-ctn {
  display: inline-block;
}

header .img-ctn img {
  padding-top: 5px;
  width: 90%;
}

#cameras > div {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 133px;
  background: #DDD;
  margin: 5px;
}

#cameras > div:after {
  position: absolute;
  top: 50px;
  left: 90px;
  font-size: 28px;
}

#cameras > div.is-not-connected:after {
  content: ':(';
  color: #C23;
}

#cameras > div.is-not-connected a {
  cursor: default;
}

#cameras > div.is-connected:after {
  content: ':)';
  color: #3D6;
}

#cameras > div.has-preview:after {
  content: '+';
  color: #0F0F0F;
  text-shadow: #eee 1px 1px 1px;
  opacity: .8;
}

#cameras img {
  display: inline-block;
  width: 200px;
  height: 133px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

#cameras img:hover {
  opacity: .8;
}

#cameras span {
  position: absolute;
  bottom: 15px;
  right: 20px;
  font-weight: 700;
  font-size: 24px;
  color: #FFF;
}

#camera {
  max-width: 720px;
  border: 2px solid #333;
}

#camera-img-ctn {
  position: relative;
  max-width: 720px;
  max-height: 482px;
}

.grid-img {
  position: absolute;
  width: 720px;
  height: 482px
}

#cvs {
  border: 2px solid #333;
}

.cam-target {
  position: absolute;
  width: 100%;
  height: 100%;
}

.cam-target:before {
  content: '';
  position: absolute;
  border: 5px solid #FF2020;
  width: 70px;
  height: 70px;
  z-index: 10;
  margin: -35px 0 0 -35px;
  top: 50%;
  left: 50%;
}

.cam-target:after {
  content: '⚫';
  font-size: 24px;
  position: absolute;
  color: #0F0;
  top: 50%;
  left: 50%;
  margin: -17px 0 0 -10px;
}

#gui-ctn {
  margin-bottom: 40px;
}

.dg .c {
  color: #333;
}

.btn {
  transition: background-color .3s, border-color .3s, color .3s;
}

.btn.is-disable {
  background-color: #EEE;
  border-color: #FFF;
  color: #CCC;
  cursor: wait;
}

.loader {
  position: absolute;
  width: 100%;
  text-align: center;
}

.loader {
  text-transform: uppercase;
  animation: blink 1s ease infinite;
}

@keyframes blink {
    0% { opacity: 1.0; }
    50% { opacity: 0.1; }
    100% { opacity: 1.0; }
}
