  <div class="container">
  <div class="row" ng-show="isDeconnected">
    <p>
      Oops, il y a un problème avec l'appareil photo ...
    </p>
  </div>
  <div class="row camera-nav">
    <div class="ghost-mode col-sm-4 col-md-4 col-lg-4">
      <div>
        <a ng-href="#/cam/{{prev.digit}}" class="btn btn-default" ng-class="{'is-disable': isLoading}" role="button">&larr;</a>
      </div>
      <label for="ghost">ghost mode: </label>
      <input type="checkbox" name="ghost" ng-model="ghostmode" ng-click="toggleGhostmode()">
      <p ng-show="stream">
        <label for="stream">stream: </label>
        <input type="checkbox" name="stream" ng-model="isStreaming" ng-click="toggleStreaming()">
      </p>
    </div>
    <div class="cam-title col-sm-4 col-md-4 col-lg-4">
      <h1>Camera #{{params.id}}</h1>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="text-right">
        <a ng-href="#/cam/{{next.digit}}" class="btn btn-default" ng-class="{'is-disable': isLoading}" role="button">&rarr;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="control-ghost">
        <label for=weight>Rotation: {{photo.rotation}}</label>
        <input type="range" id="rotation" min="-5" value="0" max="5" step="0.1" ng-change="setRotation()" ng-model="photo.rotation">
        <label for=weight>translate X: {{photo.translateX}}</label>
        <input type="range" id="translateX" min="-20" value="0" max="20" step="0.1" ng-change="setTranslationX()" ng-model="photo.translateX">
        <label for=weight>translate Y: {{photo.translateY}}</label>
        <input type="range" id="translateY" min="-20" value="0" max="20" step="0.1" ng-change="setTranslationY()" ng-model="photo.translateY">
      </div>
      <div id="camera-img-ctn">

        <span class="cam-target"></span>
        <img src="./img/grid.png" class="grid-img"/>

<!--         <div class="ghosty">
          <img ng-src="img/data/0001.jpg" alt="">
          <img class='active' ng-src="img/data/0002.jpg" alt="">
          <div class="overlay">
        </div> -->
        <canvas id="cvs" ng-show="ghostmode && streaming"></canvas>
        <img id="ghost" ng-show="ghostmode && !streaming"></img>
        <img id="camera" ng-hide="ghostmode && streaming"></img>
        <div class="horizontal-line"></div>
        <div class="vertical-line"></div>
      </div>
    </div>
    <div class="col-md-3">
      <p>
        <button class="btn btn-primary" ng-click="shootPreview()" ng-class="{'is-disable': isLoading}">Prévisualiser</button>
        <button class="btn btn-primary" ng-click="sendAlignment()" ng-class="{'is-disable': isLoading}">Envoyer les paramètres d'alignement</button>
      </p>
      <div id="gui-ctn"></div>
      <p>
        <button class="btn btn-default" ng-click="sendSettingsToAll()" ng-class="{'is-disable': isLoading}">Appliquer à toutes les cameras</button>
      </p>
    </div>
  </div>

</div>
