<div class="container">
  <div class="row camera-nav">
    <div class="ghost-mode col-sm-4 col-md-4 col-lg-4">
      <div>
        <a ng-href="#/cam/{{prev.digit}}" class="btn btn-default" ng-class="{'is-disable': isLoading}" role="button">&larr;</a>
      </div>
      <label for="ghost">ghost mode: </label>
      <input type="checkbox" name="ghost" ng-model="ghostmode" ng-click="toggleGhostmode()">
      <p ng-show="stream">
        <label for="stream">stream: </label>
        <input type="checkbox" name="stream" ng-model="isStreaming" ng-click="toggleStreaming()">
      </p>
    </div>
    <div class="cam-title col-sm-4 col-md-4 col-lg-4">
      <h1>Camera #{{params.id}}</h1>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <div class="text-right">
        <a ng-href="#/cam/{{next.digit}}" class="btn btn-default" ng-class="{'is-disable': isLoading}" role="button">&rarr;</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <span class="cam-target"></span>
      <canvas id="cvs" ng-show="ghostmode"></canvas>
      <img id="camera" ng-hide="ghostmode"></img>
    </div>
    <div class="col-md-3" id="gui-ctn">
      <button class="btn btn-default" ng-click="sendSettingsToAll()">Apply currents settings to all camera</button>
<!--       <button class="btn btn-default" ng-click="saveSettings()">Save currents settings</button>
      <button class="btn btn-default" ng-click="restoreSettings()">Restore lasts settings</button> -->
    </div>
  </div>

</div>
